<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
</head>

<body>
    <!-- header -->
    <div style="border:1px solid ; height: 70px; display: flex;">
        <div>
            <img src="applelogo.jpeg" width="65px">
        </div>
        <div style="flex:4; background-color: black;">
            <ul type="none" style="display: flex; font-size:large; color: white;">
                <li style="flex:1">iphone</li>
                <li style="flex:1">apple</li>
                <li style="flex:1">mac</li>
                <li style="flex:1">vivo</li>
            </ul>
        </div>
    </div>

    <!-- nav -->
    <div style="border:1px solid ; height: 800px;">
        <nav>
            <img src="applebanner.jpeg" width="100%" height="800px">
        </nav>
    </div>

    <!-- main -->
    <div style="border:1px solid ; display:flex; height: 350px;">
        <div style="flex: 1; border-right: 1px solid ;"><img src="iphone.png" height="100%" width="100%"></div>
        <div style="flex: 1;"><img src="mac.png" height="100%"></div>
        <div style="flex: 1; border-left:1px solid "><img src="iphone.png" height="100%"></div>
    </div>

    <!-- footer -->
    <div style="border:1px solid ; height:50px; background-color: black;">
        <p style="text-align: center; font-size: large;color: white;"> &copy errorin code </p>
    </div>
</body>

</html>